/company_list.csv
/Fin_benchmark_prototype1.py
/Fin_benchmark_prototype2.py
/Fin_benchmark_prototype3.py
/Fin_benchmark_prototype4.py
/Fin_benchmark_prototype5.py
/Fin_benchmark_prototypeFM.py
/yfinance_scrape.py